@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font: 'Roboto', sans-serif;
  color: #F9FAF8;
}

.header {
  padding: 0 10%;
  background-color: #1F2937;
  font: 18px;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
}

.logo {
  font: 24px bold;
  color: #F9FAF8;
}

.links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.links > li {

}

.hero h1 {
  font: 48px extra-bold;
}

.hero {
  padding: 0 10%;
  background-color: #1F2937;
  font: 18px;
  color: #E5E7EB;
}

.hero-text {

}

button {
  background: #3882f6;
  color: #F9FAF8;
}

.hero > img {
  background-color: #6D747D;
  width: 400px;
  height: 200px;
}

.info {
  padding: 0 10%;

}

.info > h2 {
  font: 36px extra-bold;
  color: #1F2937;
}

.info-content {
  list-style: none;
  font: 18px;
  color: #525B69;
}

.info-content-image {

}

.quote {
  padding: 0 10%;
  background: #E5E7EB;
}

.quote > blockquote {
  font: 36px italic 300;
  color: #1F2937;
}

.source {

}

.cta {
  padding: 0 10%;
  background: #3882f6;
}

.cta-object {

}

.cta-content {

}

.cta-content > h3 {

}

.cta-button {

}

.footer {
  padding: 0 10%;
  background-color: #1F2937;

}
